html {
  border-radius: 1rem;
}

.root {
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.initializer {
  position: absolute;
  inset: 0;
  background-color: #fff;
  z-index: 999;
}
