.root {
  background-color: #ececec;
  border-top: 1px solid #cacaca;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
